<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Welcome to Esel</title>
    <meta name="description" content="">
    <base href="/">
    <link rel="stylesheet" href="esel/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
</head>
<body>
    <div id="app" v-cloak>

    </div>
</body>
<script src="/esel/js/bin/vue.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/esel/js/bin/materialize.min.js"></script>
<script src="/esel/js/bin/js.cookie.js"></script>
<script src="/esel/js/bin/admin.js"></script>
{% block scripts %} {% endblock %}
</html>
