{# @hidden #}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Welcome to Esel</title>
    <meta name="description" content="">
    <base href="/admin/">
    <link rel="stylesheet" href="/public/css/esel.min.css">
    <link rel="stylesheet" href="/public/css/custom.css">
    <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
</head>
<body>
{% block wrapper %}
{% endblock %}
</body>
<script src="/public/vendor/jquery-3.1.1.min.js"></script>
<script src="/public/vendor/js.cookie.js"></script>
<script src="/public/vendor/esel.min.js"></script>
<script src="/public/vendor/jquery.jgrowl.js"></script>
{% block scripts %} {% endblock %}


</html>
