{# @hidden #}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Welcome to Esel</title>
    <meta name="description" content="">
    <base href="/admin/">
    <link rel="stylesheet" href="/vendor/css/esel.css">
<link rel="stylesheet" href="/vendor/css/custom.css">
    <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
</head>
<body>
{% block wrapper %}
{% endblock %}
</body>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/vendor/js/vendor/js.cookie.js"></script>
{% block scripts %} {% endblock %}


</html>
