{% extends "base.twig" %}{# @name Mainpage #}{% block content %}<div class="section white">
<div class="row container">
<h1>Congratulations! It works!</h1>
<p>Welcome on your brand new Esel site! <strong>You are awesome!</strong></p>
<p>Don't know what to do now? Well, we can offer you some <a class="btn" href="../../docs/">docs</a></p>
</div>
</div>
<div class="parallax-container">
<div class="parallax felt pattern"><img src="../../esel/img/logo.png" /></div>
</div>
<div class="section white">
<div class="row container">
<h2>Maybe you would like to change some colors?</h2>
<p>Esel uses vuejs and materializecss for it's front-end</p>
<p>Just click that ENOURMOUS button in the bottom right corner</p>
<h2>75 000 Lorem Ipsums</h2>
{% set links = EselAdminPanel_getPagesList("/lipsum/",random(74900),100) %}
<p>{{links.count}} files in a folder, showing 100 from random position</p>
<p>{% for link in links.pages %} <a href="{{link.url}}">{{link.name}}</a> {% endfor %}</p>
<h2>Want some technical details?</h2>
<p>{{EselBasicModule_showStats()|raw}}</p>
<p>&nbsp;</p>
</div>
</div>{% endblock %}
