{% extends "base.twig" %}{# @name Mainpage #}{% block content %}
<div class="container">
<h1>Congratulations! It works!</h1>
<p>Welcome on your brand new Esel site! <strong>You are awesome!</strong></p>
<p>Don't know what to do now? Well, we can offer you some <a class="btn" href="../../docs/">docs</a></p>
</div>

<div class="singleparallax-window rhythm" data-singleparallax="scroll" data-image-src="/public/img/logo.png"></div>

<div class="container">
<h2>75 000 Lorem Ipsums</h2>
{% set links = EselAdminPanel_getPagesList("/lipsum/",random(74900),100) %}
<p>{{links.count}} files in a folder, showing 100 from random position</p>
<p>{% for link in links.items %} <a href="{{link.url}}">{{link.name}}</a> {% endfor %}</p>
<h2>Want some technical details?</h2>
<p>{{EselBasicModule_showStats()|raw}}</p>
<p>&nbsp;</p>
</div>
{% endblock %}
