{# @name Base Layout #}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="msapplication-tap-highlight" content="no">
        <title>Welcome to Esel</title>
        <meta name="description" content="">
        <base href="/">
        <link rel="stylesheet" href="/public/css/esel.min.css">

        <!--[if lt IE 9]> <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    </head>

    <body>
        <div id="app" v-cloak>
            <nav class="bg-blue-gray-800 pattern dark_matter">
                <span class="btn transparent float-left" style="padding:12px 12.5px 0;cursor:default;"><img src="/public/img/tinylogo.png" style="max-height:100%"></span>
                <button class=" light-primary btn transparent tablet-and-less-show" data-toggle="slide" data-target="#menu">
                    <i class="fa fa-bars"></i>
                </button>

                <ul class="inline-menu nav light bordered tablet-to-list tablet-and-less-hide" id="menu">

                    <li>
                        <a href="/" {% if uri=="/" %} class="active" {% endif %}>Mainpage</a>
                    </li>
                    <li>
                        <a href="/admin/">Admin panel</a>
                    </li>
                    <li class="dropdown">
                        <a href="/docs/" {% if uri=="/docs/" %} class="active" {% endif %}>Documentation</a>
                        <ul>
                            <li>
                                <a href="/docs/meet-modules/" {% if uri=="/docs/meet-modules/" %} class="active" {% endif %}>Meet modules</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </nav>

            <div class="content-holder">
                {# @editor richText #}
                {% block content %}{% endblock %}
            </div>

        </body>
        <script src="/public/vendor/vue.min.js"></script>
        <script src="/public/vendor/jquery-3.1.1.min.js"></script>
        <script src="/public/vendor/js.cookie.js"></script>
        <script src="/public/vendor/esel.min.js"></script>
        <script src="/public/vendor/singleparallax.js"></script>
        <script src="/public/js/script.js"></script>
        {% block scripts %}{% endblock %}

    </html>
