{% extends "base.twig" %}
{# @name Text template #}
{% block content %}
<div class="white section">
    <div class="row container">
        {# @editor richText #}
        {% block textcontent %}
        {% endblock %}
        {{EselBasicModule_showStats()|raw}}
    </div>
</div>
{% endblock %}
