html {
    @include establish-baseline();
    @media only screen and (min-width: 0) {
         @include adjust-font-size-to(14px);
    }
    @media only screen and (min-width: $medium-screen) {
         @include adjust-font-size-to(13px);
    }
    @media only screen and (min-width: $large-screen) {
         @include adjust-font-size-to(12px);
    }
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: $main-font-color;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color:$headings-font-color;

}
h1, .h1{
  border-bottom:2px solid $headings-font-color;
}

a {
    text-decoration: underline;
    color: $secondary-color;

    &:hover {
        text-decoration: none;
        color:$secondary-color-light;
    }
}
// Header Styles

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
}

.h1,
h1 {
    @include adjust-font-size-to($base-font-size*3);
}

.h2,
h2 {
    @include adjust-font-size-to($base-font-size*2);
}

.h3,
h3 {
    @include adjust-font-size-to($base-font-size*1.5);
}

.h4,
h4 {
    @include adjust-font-size-to($base-font-size*1.25);
}

.h5,
h5 {
    @include adjust-font-size-to($base-font-size*1);
}

.h6,
h6 {
    @include adjust-font-size-to($base-font-size*1);
    text-decoration: underline;
}
@media only screen and (max-width: 360px) {
//  $base-font-size:12px;
  .h1,
  h1 {
      @include adjust-font-size-to($base-font-size*2);
  }

  .h2,
  h2 {
      @include adjust-font-size-to($base-font-size*1.5);
  }

  .h3,
  h3 {
      @include adjust-font-size-to($base-font-size*1.25);
  }

  .h4,
  h4 {
      @include adjust-font-size-to($base-font-size*1.1);
  }

  .h5,
  h5 {
      @include adjust-font-size-to($base-font-size*1);
  }

  .h6,
  h6 {
      @include adjust-font-size-to($base-font-size*1);

  }
}
// Text Styles
em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

small {
    @include adjust-font-size-to($base-font-size*0.75);
}

.light {
    font-weight: 300;
}

.thin {
    font-weight: 200;
}
//Lists
ol,
ul {
    li {
        @include rhythm();
    }
}

.flow-text {
    font-weight: 300;
    $i: 0;
    @while $i <= $intervals {
         @media only screen and (min-width : 360 + ($i * $interval-size)){
            @include adjust-font-size-to(1.2 * $base-font-size * (1 + (.02 * $i)));
        }
        $i: $i + 1;
    }
    // Handle below 360px screen
    @media only screen and (max-width: 360px) {
         @include adjust-font-size-to(1.2rem);
    }
}
